 /* element with id */
#about {color: lightgoldenrodyellow; font-family: monospace;}
#clock {color: hsla(60, 22%, 96%, 0.5); position: absolute; left: 3px; top: 213px; font-family: monospace; font-size: 15pt; font-weight: bold;}

/* element natural */
 li {color: whitesmoke; font-weight: bold; font-size: 15px;}
 h1 {color: hsla(60, 22%, 96%, 0.5);}
       
/* elements with class */
.biotechbody {background-color: CadetBlue; background-image: url("images/biotechnologies_green.jpg"); margin-left: 0; margin-top: 0;}
.sidenavtext {font-family: verdana, sans-serif; font-size: 18px; font-weight: normal; color: whitesmoke;}
.link {font-family: verdana, sans-serif; font-size:10px; }
.boldlink {font-family: verdana, sans-serif; font-size: 18px; font-weight: bold;}
.secHeader {font-family: verdana, sans-serif; font-size: 27px; font-weight: normal; color: hsla(60, 22%, 96%, 0.5);}
.subtitle {font-family: verdana, sans-serif; font-size: 18px; font-weight: normal; color: hsla(60, 22%, 96%, 0.5);}
.quotes {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: hsla(60, 22%, 96%, 0.5); font-style: oblique; text-align: center;}
.biotechtitle {color: whitesmoke; font-weight: bold;}
.biotechcenter {text-align: center;}
.imgcenter {display: block; margin-left: auto; margin-right: auto; width: 50%;}
.biotechidden {position: absolute; visibility: hidden;}
.biotechborder{border: 0; padding: 4;}
.biotechmenu{width: 100%; border: 0; padding: 4;}